@import "tailwindcss";

@font-face {
  font-family: 'CGSC';
  src: url('/fonts/coco-gothic-small-caps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-inter: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-coco: "CGSC";

    --color-celeste: #d3eaeb;
    --color-arena: #f8c373;
    --color-rosa: #deb8b8;

    --height-hero: calc(100vh + 80px);
}

.font-spaced {
    letter-spacing: .5em;
    font-variant: small-caps;
}

.animate-fadein {
    animation: fadein .5s ease-in-out;
}

.bg-cielo {
    background-image: url("/images/cielo2.jpg");
    background-size: cover;
    background-position: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}