---
import type { Metadata } from "@/types";
import Layout from "@/layouts/layout.astro";

const metadata: Metadata = {
  title: "CielitoLindo - Web en desarrollo",
  description:
    "Próximamente! La página web de CielitoLindo, un taller emprendedor de consultas astrológicas.",
  canonical: "https://espaciocielitolindo.com.ar/",
  slug: "/",
  og: {
    title: "CielitoLindo - Web en desarrollo",
    description:
      "Próximamente! La página web de CielitoLindo, un taller emprendedor de consultas astrológicas.",
    image: "og_landing.png",
  },
  twitter: {
    title: "CielitoLindo - Web en desarrollo",
    description:
      "Próximamente! La página web de CielitoLindo, un taller emprendedor de consultas astrológicas.",
    image: "og_landing.png",
  },
};
---

<Layout metadata={metadata}>
  <main class="flex flex-col items-center font-inter animate-fadein">
    <section
      class="w-full h-hero sm:w-[85%] flex flex-col items-center justify-center relative"
    >
      <div
        class="absolute -z-10 inset-0 m-auto bg-cielo w-[90%] h-[80%] mt-[90px] rounded-xl"
      >
      </div>
      <h1 class="text-5xl font-coco font-bold">CielitoLindo</h1>
      <p class="text-xl mt-4 text-center max-w-[70%] p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        minus dicta alias, illum mollitia optio officiis cum expedita eligendi
        enim. Vel iusto sit repellat vero tempore laboriosam, nam debitis
        officia!
      </p>
    </section>
  </main>
</Layout>
